
       /*div.xianshi{background: aqua;width: 500px;height: 50px*/
       /*}*/
       /*span.nierong{font-weight: bold;font-size: 40px*/
       /*}*/
       /*div.caozuo{background: darkgoldenrod;width: 100px;height: 300px;float: left*/
       /*}*/
       /*div.juti{background: blue;width: 400px;height: 300px;float:left*/
       /*}*/
       /*div.dibu{background: darkgrey;width: 500px;text-align: center*/
       /*}*/
       /*span.wenzi{background: darkslategray*/
       /*}*/
